# macOS
.DS_Store

# VS Code
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Environment Variables
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# Kubernetes
kubeconfig

# Misc
*.tmp
